<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goods.yj.mapper.NoticeMapper">

    <!-- 전체 공지사항 조회 -->
    <select id="getAllNotice" resultType="goods.yj.vo.NoticeVO">
        SELECT seq_no,
               notice_target, notice_title, regist_date, status 
        FROM notice_his 
        WHERE status != 9 
        ORDER BY seq_no ASC <!---오름차순 1부터 출력-->
    </select>

    <!-- 공지사항 상세 조회 -->
    <select id="getNoticeDetail" resultType="goods.yj.vo.NoticeVO">
        SELECT seq_no, notice_title, notice_content, notice_target,
               notice_st_date, notice_end_date, status, regist_id, regist_date,
               last_chg_id, last_chg_date, expire_id, expire_date
        FROM notice_his
        WHERE seq_no = #{seq_no}
          AND status != 9
    </select>

<insert id="createNotice" parameterType="goods.yj.vo.NoticeVO">
    INSERT INTO notice_his
    (
        notice_title,
        notice_content,
        notice_target,
        notice_st_date,
        notice_end_date,
        status,
        regist_id,
        regist_date,
        last_chg_id,
        last_chg_date,
        expire_id,
        expire_date
    )
    VALUES
    (
        #{notice_title},
        #{notice_content},
        #{notice_target},
        #{notice_st_date},
        #{notice_end_date},
        #{status},
        #{regist_id},
        TO_DATE(#{regist_date}, 'YYYY-MM-DD'), <!-- yyyy-MM-dd 형식으로 날짜 변환 -->
        #{last_chg_id},
        TO_DATE(#{last_chg_date}, 'YYYY-MM-DD'), <!-- yyyy-MM-dd 형식으로 날짜 변환 -->
        #{expire_id},
        TO_DATE(#{expire_date}, 'YYYY-MM-DD') <!-- yyyy-MM-dd 형식으로 날짜 변환 -->
    )
</insert>


    <!-- 공지사항 수정 -->
    <update id="updateNotice">
        UPDATE notice_his
        SET notice_title = #{notice_title},
            notice_content = #{notice_content},
            notice_target = #{notice_target},
            notice_st_date = #{notice_st_date},
            notice_end_date = #{notice_end_date},
            status = #{status},
            regist_id = #{regist_id},
            regist_date = TO_DATE(SYSDATE, 'YYYY-MM-DD'), <!-- SYSDATE를 yyyy-MM-dd 형식으로 DATE 타입으로 변환 -->
            last_chg_id = #{last_chg_id},
            last_chg_date = TO_DATE(SYSDATE, 'YYYY-MM-DD'), <!-- SYSDATE를 yyyy-MM-dd 형식으로 DATE 타입으로 변환 -->
            expire_id = #{expire_id},
            expire_date = TO_DATE(SYSDATE, 'YYYY-MM-DD') <!-- SYSDATE를 yyyy-MM-dd 형식으로 DATE 타입으로 변환 -->
        WHERE seq_no = #{seq_no}
    </update>

    <!-- 공지사항 비활성화 -->
    <update id="deleteNotice" parameterType="int">
        UPDATE notice_his
        SET status = 9
        WHERE seq_no = #{seq_no}
    </update>

</mapper>
