<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goods.yj.mapper.ReviewMapper">

	<!-- 전체 공지사항 조회 -->
	<select id="getAllReview" resultType="goods.yj.vo.ReviewVO">
		SELECT seq_no, goods_code, notice_title, regist_date, status
		FROM review_his
		WHERE status != 9
		ORDER BY seq_no ASC
	</select>

	<select id="getReviewDetail" resultType="goods.yj.vo.ReviewVO">
		SELECT
		seq_no,
		goods_code,
		notice_title,
		notice_content,
		status,
		regist_id,
		regist_date,
		last_chg_date,
		expire_id,
		expire_date,
		bhit,
		bgroup,
		bstep,
		bindent,
		star_rating
		FROM review_his
		WHERE seq_no = #{seqNo}
	</select>

	<insert id="createReview" parameterType="goods.yj.vo.ReviewVO"> INSERT INTO
		review_his ( seq_no, goods_code, notice_title, notice_content, status,
		regist_id, regist_date, last_chg_date, expire_id, expire_date, bhit,
		bgroup, bstep, bindent, star_rating ) VALUES ( REVIEW_SEQ.NEXTVAL, <!--
		SEQUENCE에서 자동으로 값을 생성 -->
		#{goods_code}, #{notice_title}, #{notice_content}, #{status},
		#{regist_id}, #{regist_date}, <!-- yyyy-MM-dd 형식으로 날짜 변환 --> #{last_chg_date}, #{expire_id,
		jdbcType=VARCHAR}, <!-- expire_id의 JDBC 타입을 VARCHAR로 설정 --> #{expire_date}, <!-- yyyy-MM-dd 형식으로 날짜 변환 --> #{bhit}, #{bgroup}, #{bstep},
		#{bindent}, #{star_rating} ) </insert>

	<update id="updateReview">
    UPDATE review_his
    SET
        goods_code = #{goods_code},
        notice_title = #{notice_title},
        notice_content = #{notice_content},
        status = #{status},
        regist_id = #{regist_id},
        regist_date = TO_DATE(#{regist_date}, 'YYYY-MM-DD'),
        last_chg_date = TO_DATE(#{last_chg_date}, 'YYYY-MM-DD'),
        expire_id = #{expire_id},
        expire_date = TO_DATE(#{expire_date}, 'YYYY-MM-DD'),
        bhit = #{bhit},
        bgroup = #{bgroup},
        bstep = #{bstep},
        bindent = #{bindent},
        star_rating = #{star_rating}
    WHERE
        seq_no = #{seq_no}
</update>

	<!--리뷰 비활성화-->
	<update id="deleteReview" parameterType="int">
		UPDATE review_his
		SET status = 9
		WHERE seq_no = #{seq_no}
	</update>

</mapper>
 